commands:
  01preserveiptables:
    command: 'touch /etc/use_dsa_with_iptables'   
  02install:
    command: 'rpm --replacepkgs -ihv /tmp/agent.rpm'
  03sleep:
    command: 'sleep 70'
  04activate:
    command: '/opt/ds_agent/dsa_control -a dsm://agents.deepsecurity.trendmicro.com:443/ "tenantID:7393525A-F236-C129-2E9C-DA34470C8DD7" "token:A8A8F9B3-71B0-0680-5B2C-97B3CDF85627" "policyid:3418" --max-dsm-retries 0 >/tmp/dsa_control.log 2>&1'